@import '../assets/styles/variables.scss';
@import '../assets/styles/mixins.scss';

body {
  background-color: $primary-background-color;
}

.wrapper {
  margin: 0 auto;
  padding: 0 30px;
  height: 100%;
  background-color: $primary-background-color;
  color: $text-color;
  @include media-mobile {
    padding: 0 20px;
  }
}

.answer-container {
  margin: 0 auto;
  @include flex;
  flex-wrap: wrap;
  max-width: 1110px;
}