@import '../assets/styles/variables.scss';
@import '../assets/styles/mixins.scss';

.wrapper {
  margin: 0 auto;
  height: 100vh;
  background-color: $primary-background-color;
  color: $text-color;
}

.answer-container {
  margin: 0 auto;
  @include flex;
  flex-wrap: wrap;
  max-width: 1110px;
}