{
  "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
    ],
  "env": {
    "browser": true,
    "jasmine": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ]
}