@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.list {
  padding: 0;
  flex-basis: 49%;
  background-color: $secondary-background-color;
  border: 1px solid $border-color;
  border-radius: 5px;
  & li:not(:last-of-type) {
    border-bottom: 1px solid $border-color;
  }
  @include media-laptop {
    flex-basis: 100%;
  }
}