@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.wrapper {
  margin: 0 auto;
  padding: 64px 32px;
  max-width: 1110px;
  background-color: $secondary-background-color;
  border: 1px solid $border-color;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
}

.title {
  margin: 0 0 20px;
  @include font(72px);
}

.text {
  margin: 0 0 50px;
  @include font(18px);
  line-height: 30px;
  border-bottom: 1px solid $border-color;
}